.education {
    position: relative;
    overflow: auto;
    height: 100vh;
    padding-bottom: 150px;
}

.education-me {
    padding: 20px;
}

.education h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #aaaaaaaa;
    margin-top: 30px;
    position: relative;
    display: inline-block;

}

.education h2::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #aaaaaaaa;
    margin-left: 10px;
    vertical-align: middle;
}

.education h3 {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffff;
}