* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  background: #040404 url(./images/BackgroundImage.jpg) top center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

@media (min-width : 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#header {
  transition: ease-in-out 1s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.5s;
}

#header h1 {
  font-size: 8rem;
}

#header h1 a,
#header h1 a:hover {
  color: #ffff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  padding-bottom: 6px;
  border-bottom: 2px solid;
  color: #fff;
}

#header img {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 3.5rem;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .container {
    align-items: center;
  }
}

#header.header-top {
  height: 85px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  
}

#header.header-top h1 {
  font-size: 2.5rem;
  margin: 0;
}

#header.header-top h2 {
  display: none;
}

#header.header-top .navbarList {
  display: flex;
  margin-left: 750px;
  margin-bottom: 50px;
  gap: 15px;
  margin: 0;
}

#header.header-top .socialLink {
  display: none;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

.navbarList {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  margin-left: -30px;
}

.navbarList ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarList li {
  position: relative;
  margin-left: 30px;
}

.navbarList a {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;
}

.navbarList a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbarList a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbarList a:hover:before,
.navbarList li:hover>a:before,
.navbarList .active:before {
  visibility: visible;
  width: 70%;
}

.navbarList a:hover,
.navbarList .active {
  color: #fff;
}

.socialLink {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.socialLink i {
  padding: 10px;
  background: #ffff;
  border-radius: 40px;
  color: #040404;
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 100px;
  opacity: 3.6;
  transition: ease-in-out 2s;
  z-index: 2;
  color: #fff;
}

section.section-show {
  top: 100px;
  height: auto;
  opacity: 1;
  visibility: visible;
  padding-bottom: 50px;
  overflow-y: visible;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}
